.header {
  margin-top: 5px;
  height: 90px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #06060666;

  width: 98%;
  justify-content: space-around;
  align-items: center;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 1rem;
}
@media (max-width:350px){
  .header{
    display: flex;
    flex-direction: column;
  }
  .image{
    height:1.5rem;
  }
  .text{
    height: 1.5rem;
  }
}
@media (min-width:350px) and (max-width:600px){
  .header{
    display: flex;
    flex-direction: column;
  }
  .image{
    height:2rem;
  }
  .text{
    height: 2rem;
  }
}
@media (min-width:601px) {
  .header{
    display: flex;
   
  }
  .image{
    height:2rem;
  }
  .text{
    height: 2rem;
  }
}
.userName{
  display: 'flex';
  align-items: 'center';
  font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em
  /* align-text: "center"; */
}
.logout{
  margin-left: 20px;
}
.text{
  /* height:45px; */
}
.image{
  /* height:40px; */
  margin-Left: 10px;
  margin-top: 5px;
}
/* .header p {
  color: #fff;
  font-weight: 200;
  margin-top: 48px;
  font-family: "McLaren", cursive;
}
.header img {
  height: 91px;
  width: 106px;
} */
