.header {
  background-color: #f5ba13;
  display: flex;
  box-shadow: 0 0 10px 0 #06060666;
}
.header p {
  color: #fff;
  font-weight: 200;
  margin-top: 48px;
  font-family: "McLaren", cursive;
}
.header img {
  height: 91px;
  width: 106px;
}
